.line-item-container {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.label-badge {
  opacity: 0.8;
  padding: 3px 6px 3px 6px;
  border:1px solid grey;
  border-radius: 20px;
  font-size: 12px;
  color:white;
}
