<div class="card mb-4 me-lg-5 ms-lg-5">
<div class="card-title m-3 d-flex flex-row ">
  <div class="profile-avatar me-4">
    <img class="avatar" src="../../../../../../assets/default-profile.png" height="50" alt="">
  </div>
  <div class="card-title-append d-flex flex-column">
    <div class="name"><h5 class="mb-0">Ronilo</h5></div>
    <div class="postedTime"><small>38m</small></div>
  </div>
</div>
<div class="card-body">
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse cum, ex distinctio veniam culpa deleniti aperiam quasi
officiis fugit optio excepturi debitis ducimus incidunt? Quia molestias sed illo quod maiores nobis? Laborum error
necessitatibus repudiandae minus dolores aliquam quae blanditiis, saepe odit iure accusamus illo delectus nisi repellat
eaque et alias dignissimos provident vero voluptates, quod quas quisquam itaque incidunt. Deserunt, quo neque. Officiis
voluptate totam delectus nam doloribus saepe temporibus enim soluta magnam fugit, quidem porro laudantium, rem repellat
provident, praesentium aperiam expedita at blanditiis omnis esse vitae quos labore recusandae. Iusto dolorem hic non
consectetur, deleniti expedita odit.</p>
</div>
<div class="card-footer">
  <div class="form-group mt-2 mb-2">
    <input type="text" name="email" placeholder="Write comment"  class="form-control app-background">
  </div>
</div>
</div>
