<div class="container-fluid h-100  ">
  <div class="row flex-fill pt-4">
  <div class="col-lg-2">

  </div>
  <div class=" col-lg-7">

      <app-timeline-item></app-timeline-item>
      <app-timeline-item></app-timeline-item>
      <app-timeline-item></app-timeline-item>
      <app-timeline-item></app-timeline-item>
  </div>
  <div class=" col-lg-3 h-100 ">
    <div class="end-section   d-flex flex-column   position-fixed">
    <app-recent-assigned></app-recent-assigned>
    </div>
  </div>
  </div>
</div>
