<form class="container pt-3">
  <h2 class=" mb-4">Eskey Delivery Creation</h2>
  <div class="row">
    <div class="col-md-4 ">
      <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Delivery Date</label>
      <input type="date" class="form-control app-background" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
   <div class="col-md-4">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Branch</label>
    <select class="form-select app-background" aria-label="Default select example">
      <option selected>Please select Branch</option>
      <option value="1">QLD</option>
      <option value="2">MEL</option>
    </select>
    </div>
   </div>
   <hr class="mt-2">
   <h5 class="mb-4">Eskeys list</h5>
   <div class="row mb-3">
    <div class="col-2 text-center">
      <label for="">Eskey#</label>
    </div>
    <div class="col-4 text-center">
      <label for="">Content</label>
    </div>
    <div class="col-2 text-center">
    <label for="">Temp</label>
    </div>
    <div class="col-2 text-center">
      <label for="">Initial</label>
    </div>
    <div class="col-2 text-center">
      <label for="">Action</label>
    </div>
   </div>
    <div class="mb-3 row">
      <div class="col-2">
        <div class="">
          <input type="text"
            class="form-control app-background" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
      </div>
      <div class="col-4">
        <div class="">
          <input type="text" class="form-control app-background" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
      </div>
        <div class="col-2">
          <div class="">
            <input type="text" class="form-control app-background" name="" id="" aria-describedby="helpId" placeholder="">
          </div>
        </div>
        <div class="col-2">
          <div class="">
            <input type="text" class="form-control app-background" name="" id="" aria-describedby="helpId" placeholder="">
          </div>
        </div>
        <div class="col-2 text-center">
          <a name="" id="" class="btn btn-outline-dark" href="#" role="button"><i class="bi bi-trash"></i></a>
        </div>
    </div>
  </div>
</form>
