<form class="container container-md container-lg container-sm d-flex flex-column h-100 pt-5">
 <div class="row">
  <div class="col-9 card p-2">
    <div class="mb-3">
      <input type="text"
        class="form-control app-background border border-2 border-dark" name="" id="" aria-describedby="helpId" placeholder="title">
    </div>
      <div class="mb-3">
        <textarea class="form-control app-background border border-2 border-dark" placeholder="Description" name="" id="" rows="15"></textarea>
      </div>
      <div class="action mb-2 d-flex justify-content-end">
        <a name="" id="" class="btn btn-success" href="#" role="button">Submit new activity</a>
      </div>
  </div>
  <div class="col-3 d-flex flex-column">
    <div class="section d-flex flex-column">
     <div class="assignee-menu  d-flex align-items-center justify-content-between">
      <strong>Assignees</strong>
      <a name="" id="" class="btn" href="#" role="button"><i class="bi bi-gear"></i></a>
    </div>
      <div class="assignee-menu mb-2 d-flex align-items-center justify-content-between">
        No one - assign yourself
      </div>
      <hr>
    </div>
    <div class="section d-flex flex-column">
      <div class="assignee-menu  d-flex align-items-center justify-content-between">
        <strong>Labels</strong>
        <a name="" id="" class="btn" href="#" role="button"><i class="bi bi-gear"></i></a>
      </div>
      <div class="assignee-menu mb-2 d-flex align-items-center justify-content-between">
        None yet
      </div>
      <hr>
    </div>
      <div class="section d-flex flex-column">
        <div class="assignee-menu  d-flex align-items-center justify-content-between">
          <strong>Category</strong>
          <a name="" id="" class="btn" href="#" role="button"><i class="bi bi-gear"></i></a>
        </div>
        <div class="assignee-menu mb-2 d-flex align-items-center justify-content-between">
          None yet
        </div>
        <hr>
      </div>
        <div class="section d-flex flex-column">
          <div class="assignee-menu  d-flex align-items-center justify-content-between">
            <strong>Level</strong>
            <a name="" id="" class="btn" href="#" role="button"><i class="bi bi-gear"></i></a>
          </div>
          <div class="assignee-menu mb-2 d-flex align-items-center justify-content-between">
            None yet
          </div>
          <hr>
        </div>
  </div>
 </div>
</form>
