body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #0D1117 !important;
}

* {
  color: #969DA6 !important;
}

:root .app-background {
  background-color: #0D1117 !important;
}

:root .card {
  background-color: #161C23;
}


